<%= form_with(model: movie, url: path, html: {'data-turbo' => "false"}) do |f| %>

  <% if movie.errors.any? %>
    <%= render "error_messages", movie: movie %>
  <% end %>

  <div class="mb-3">
    <%= f.label "Title", class: 'form-label' %>
    <%= f.text_field :title, autofocus: true, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label "Description", class: 'form-label' %>
    <%= f.text_area :desc, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label "Poster URL", class: 'form-label' %>
    <%= f.text_field :poster, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label "Year", class: 'form-label' %>
    <%= f.number_field :year, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label "Rating", class: 'form-label' %>
    <%= f.number_field :rating, step: 0.1, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.submit "Save", class: 'btn btn-primary' %>
  </div>

<% end %>


